@import "../../constants.scss";

.ProjectCard-wrapper {
  width: 70%;
  max-width: 90vw;
  height: 80%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 200;
  -webkit-transition: opacity 0.7s ease-in;
  -moz-transition: opacity 0.7s ease-in;
  -ms-transition: opacity 0.7s ease-in;
  -o-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

.ProjectCard-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Comfortaa";
  color: #0c5dbf;
  list-style: none;
}

.ProjectCard-listItem {
  margin-top: 1rem;
  a {
    text-decoration: none;
    color: #0c5dbf;
  }
}

.ProjectCard-listItem {
  &:active {
    color: #ff56d0;
  }
}

@media (min-width: 600px) {
  .ProjectCard-list {
    font-size: 2rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
