.title {
display: inline-block;
align-items:left;
width: 100%;
font-family: Comfortaa;
font-style: normal;
font-weight: bold;
font-size: 1em;
color: #0C5DBF;
margin-bottom: 10px;
}

.title:hover {
  color:  #E3C147
}

.firstname {
  margin-top: 1rem;
}

.pinkletter {
  color: #FF56D0;
}

.lastname {
  margin:0;
}

@media (min-width: 600px) {
  .title {
  display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2.5rem;
   margin: 40px 0 20px 0;
  }

  .firstname {
    text-align: left;
  }

  .lastname {
    text-align: left;
    padding-left: 3vw;
  }
}