.SideDrawer-wrapper {
  width: 70%;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.SideDrawer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75rem;
  font-family: Comfortaa;
  color: #0C5DBF;
  list-style: none;
}

.SideDrawer-listItem {
  margin-top: 1rem;
}

.SideDrawer-listItem a {
  text-decoration: none;
}

.SideDrawer-listDot {
  color: #FF56D0;
  font-weight: 900;
}

.SideDrawer-listItem:hover,
.SideDrawer-listItem:active {
color: #FF56D0;
font-weight: 600;
}

@media (min-width: 600px) {
  .SideDrawer-list {
    font-size: 3rem;
  }

}