.DrawerToggleBtn-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.DrawerToggleBtn-button:focus {
  outline: none;
}

.DrawerToggleBtn-line {
  width: 40px;
  height: .18rem;
  background-color: #fff;
}

.DrawerToggleBtn-line:focus {
 background-color: #E3C147;
}