.App {
  height: 100%;
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-open {
  width: 80vw;
}

@media (min-width: 700px) {
  .App-open {
    width: 90vw;
  }
}

@media (min-width: 1400px) {
  .DotBtn {
    padding-left: 10vw;
  }
}
