.App {
  height: 100%;
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hand {
  width: 40%;
}

@media (min-width: 600px) {
  .hand {
    width: 80%;
  }
}
